body {
    font-family: 'Verdana', sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #E0E2DB;
    color: #222;
    box-sizing: border-box;
}

header {
    background-color: #F56A0F;
    background: url(./photo2.webp);
    color: #F56A0F;
    text-align: center;
    position: fixed;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

#div1{
    padding-top: 10rem;
}
h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

main {
    padding: 2rem;
}

h3 {
    font-size: 1.75rem;
    color: #333;
}

p {
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: none;
    padding-left: 2rem;
}
li{
    text-decoration: none;
    padding: 1rem;
    transition: transform .3s ease;
}
li:hover{
    color: #ff8c00;
    cursor: pointer;
    transform: translate(0rem, -.2rem);
}
a {
    color: #af34ce;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #ff8c00;
}

footer {
    background-color: #222;
    color: #FFD700;
    text-align: left;
    padding: 1.5rem;
    bottom: 0;
    width: 100%;
}
#container{
    text-align: center;
    border: 5px solid #ff8c00;
    box-shadow: inset 0px 0px 20px 10px rgba(255, 140, 0, 1);

}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    body {
        padding: 1rem;
    }
    footer{
        padding: none;
    }
}